<div class="container marketing">
    <hr>
    <h2>Edit Company</h2>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Postal Code</th>
                <th scope="col">City</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{input value=model.name}}</td>
                <td>{{input value=model.address}}</td>
                <td>{{input value=model.postcode}}</td>
                <td>{{input value=model.city}}</td>
                <td><button {{action "updateCompany" model.id}} type="button" class="btn btn-success">Edit</button></td>
            </tr>
        </tbody>
    </table>
    
    <hr>
    {{#link-to "backoffice.index"}}
    <a href="#" class="btn btn-primary">Back</a>
    {{/link-to}}
    <hr class="featurette-divider">
</div>