<div class="container marketing">
    <hr class="featurette-divider">
    <h1>Create Company</h1>
    <hr class="featurette-divider">

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Company Name</label>
            {{input value=newCompany class="form-control" placeholder="Company Name"}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            {{input value=newAddress class="form-control" placeholder="address"}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Postal Code</label>
            {{input value=newPostcode class="form-control" placeholder="postcode"}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">City</label>
            {{input value=newCity class="form-control" placeholder="City"}}
        </div>
        <button {{action "createCompany"}} type="submit" class="btn btn-primary">Submit</button>
        {{#link-to "backoffice"}}<button type="submit" class="btn btn-danger">Cancel</button>{{/link-to}}
    </form>
    <hr class="featurette-divider">
</div>