<div class="container marketing">
    <hr class="featurette-divider">
    <h1>Backoffice</h1>
    <hr>

    {{#link-to "backoffice.company-create"}}
    <a href="#" class="btn btn-success">+ CREATE COMPANY</a>
    {{/link-to}}
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Postal Code</th>
                <th scope="col">City</th>
                <th scope="col">Count</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each model as |company|}}

            <tr>
                <th scope="row">{{company.id}}</th>
                <td>{{company.name}}</td>
                <td>{{company.address}}</td>
                <td>{{company.postcode}}</td>
                <td>{{company.city}}</td>
                <td>{{company.count}}</td>
                <td>
                    {{#link-to "backoffice.company-edit" company.id}}
                    <a href="#" class="btn btn-primary">Edit</a>
                    {{/link-to}}
                </td>                
                <td><button {{action "destroyCompany" company.id}} type="button" class="btn btn-danger">Delete</button></td>
            </tr>

            {{/each}}

        </tbody>
    </table>
    <hr class="featurette-divider">
</div>