<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">YELLOWPAGES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {{#link-to "index" tagName="li"}}<a class="nav-link" href="">Home<span
                            class="sr-only">(current)</span></a>{{/link-to}}
                </li>
                <li class="nav-item">
                    {{#link-to "backoffice.index" tagName="li"}}<a class="nav-link" href="">Administration</a>{{/link-to}}
                </li>
            </ul>            
        </div>
    </nav>
</header>
<main role="main">

    {{outlet}}

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019 Elisio Pinheiro - 31249</p>
    </footer>
</main>