<div class="container marketing">
    <hr class="featurette-divider">
    <h1>{{model.name}}</h1>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Address</th>
                <th scope="col">Postal Code</th>
                <th scope="col">City</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{model.address}}</td>
                <td>{{model.postcode}}</td>
                <td>{{model.city}}</td>
            </tr>
        </tbody>
    </table>
    {{#link-to "index"}}
    <a href="#" class="btn btn-primary">Back</a>
    {{/link-to}}
    <hr class="featurette-divider">
</div>