<!--<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>-->

<hr class="featurette-divider">

<div class="container marketing">

    <ListFilter @filter={{action "filterByCity"}} as |filteredResults|>
        
            {{#each filteredResults as |company|}}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{company.name}}</h5>
                            <p class="card-text">{{company.address}}</p>
                            <p class="card-text">{{company.postcode}}</p>
                            <p class="card-text">{{company.city}}</p>
                            {{#link-to "company-details" company.id}}
                            <button {{action "updateCount" company.id company.count}} class="btn btn-primary">Details</button>
                            {{/link-to}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {{/each}}
        
    </ListFilter>

    <!--
    <div>
        <button {{action "readBoardGame"}}>Read Board Game 1</button>
    </div>

    <div>
        {{input value=newCompany placeholder="company name"}}
        {{input value=newAddress placeholder="address"}}
        {{input value=newPostcode placeholder="postcode"}}
        {{input value=newCity placeholder="city"}}
        <button {{action "createCompany"}}>Create</button>
    </div>
    <div>
        {{input value=updatedTitle placeholder="new name for board game 1"}}
        <button {{action "updateBoardGame"}}>Update</button>
    </div>

    <div>
        {{input value=destroyId placeholder="id of game to delete"}}
        <button {{action "destroyBoardGame"}}>Delete</button>
    </div>-->

    <hr class="featurette-divider">
</div>