<h3>Filter by City:</h3>
<form class="form-inline">

    {{input
    value=this.value
    key-up=(action "handleFilterEntry")
    class="form-control mr-lg-12"
    type="text" placeholder="City"
    aria-label="Search"
    }}
</form>
<br>

{{yield this.results}}